torch
torchvision
timm
segmentation-models-pytorch
scikit-learn
pandas
numpy
matplotlib
pillow
opencv-python-headless
streamlit
fpdf2
python-dotenv
cloudinary
firebase-admin
sendgrid
pydicom
grad-cam
scikit-image
gradio
tqdm
