torch
torchvision
timm
segmentation-models-pytorch
scikit-learn
pandas
numpy
matplotlib
pillow
opencv-python
streamlit>=1.31.0
altair<5
fpdf2
python-dotenv
cloudinary
firebase-admin
sendgrid
pydicom
grad-cam
scikit-image
tqdm
